.signup-container {
    margin-top: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .warning {
        width: 100%;
        &.has-error {
            background-color: rgb(243, 188, 188);
            border: 2px solid red;
            .text{
                color: red;
            }
        }
        background-color: rgb(215, 243, 183);
        .text{
            color: green;
        }
        border: 2px solid green;
        border-radius: 5px;
    }
    .signup {
        width: 340px;
        border: 2px solid #3f51b5;
        border-radius: 5px;
        .heading {
            margin: 20px 0;
            width: 100%;
            .title {
                text-align: center;
                font-size: 24px;
                color: #3f51b5;
            }
        }
        mat-form-field {
            display: block;
            margin: 20px;
            mat-label {
                color: #3f51b5;;;
            }
            ::ng-deep {
                .mat-form-field-flex {
                    &:hover {
                        .mat-form-field-underline {
                            span {
                                background-color: #3f51b5;;;
                            }
                        }
                    }
                }
                .mat-form-field-underline {
                    &::before {
                        background-color: #3f51b5;;;
                    }
                }
            }
        }
        .button-container {
            margin: 20px;
            button {
                cursor: pointer;
                &:disabled {
                    background-color: rgba(0,0,0,.12);
                    color: white;
                    cursor: not-allowed;
                }
            }
        }
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
}